<a href="https://colab.research.google.com/github/bendavidsteel/trade-democratization/blob/master/trade_diffusion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import os

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [11]:
dataset_path = os.path.join('/', 'content', 'drive', 'My Drive', 'projects', 'trade_democratization', 'dataset')
# here we load the democracy indices from the V-Dem dataset
vdem_nodes = pd.read_csv(os.path.join(dataset_path, "V-Dem-CY-Core-v10.csv"))
vdem_nodes.head()

  country_name country_text_id  ...  v2xca_academ_codehigh  v2xca_academ_sd
0       Mexico             MEX  ...                    NaN              NaN
1       Mexico             MEX  ...                    NaN              NaN
2       Mexico             MEX  ...                    NaN              NaN
3       Mexico             MEX  ...                    NaN              NaN
4       Mexico             MEX  ...                    NaN              NaN

[5 rows x 1817 columns]

In [13]:
# now we load the time invariant bilateral data from the CEPII TradHist dataset
tradhist_timeinvar = pd.read_excel(os.path.join(dataset_path, "TRADHIST_GRAVITY_BILATERAL_TIME_INVARIANT.xlsx"))
tradhist_timeinvar.head()

    iso_o   iso_d  Distw    Dist_coord  Evercol  Comlang  Contig
0  2SICIL  AUTHUN    NaN    837.066180        0        0       0
1  2SICIL     BEL    NaN   1349.682430        0        0       0
2  2SICIL     CHL    NaN  11978.672481        0        0       0
3  2SICIL     ESP    NaN   1514.852764        0        0       0
4  2SICIL     FRA    NaN   1291.794085        0        0       0

In [18]:
# then load the three files that constitute the bilateral historical non trade related data such as distances between countries and colonial status
tradhist_timevar_frames = []
for idx in range(1, 4):
    tradhist_timevar_frames.append(pd.read_excel(os.path.join(dataset_path, "TRADHIST_GRAVITY_BILATERAL_TIME_VARIANT_{}.xlsx".format(idx))))
tradhist_timevar = pd.concat(tradhist_timevar_frames)
tradhist_timevar.head()

    iso_o   iso_d  year  SeaDist_SHRT  SeaDist_2CST  Curcol Metro Colo
0  2SICIL  AUTHUN  1838   1790.884033   1790.884033       0   NaN  NaN
1  2SICIL     BEL  1834   4463.319824   4463.319824       0   NaN  NaN
2  2SICIL     BEL  1835   4463.319824   4463.319824       0   NaN  NaN
3  2SICIL     BEL  1836   4463.319824   4463.319824       0   NaN  NaN
4  2SICIL     BEL  1837   4463.319824   4463.319824       0   NaN  NaN

In [17]:
tradhist_bitrade_frames = []
for idx in range(1, 4):
    tradhist_bitrade_frames.append(pd.read_excel(os.path.join(dataset_path, "TRADHIST_BITRADE_BITARIFF_{}.xlsx".format(idx))))
tradhist_bitrade = pd.concat(tradhist_bitrade_frames)
tradhist_bitrade.head()

    iso_o   iso_d  year           FLOW  FLOW_0 SOURCE_TF  BITARIFF
0  2SICIL  AUTHUN  1838  492920.687500     NaN    RIC_IP       NaN
1  2SICIL     BEL  1834   38164.500000     NaN    RIC_IP       NaN
2  2SICIL     BEL  1835   30052.339844     NaN    RIC_IP       NaN
3  2SICIL     BEL  1836   44906.539062     NaN    RIC_IP       NaN
4  2SICIL     BEL  1837   33957.269531     NaN    RIC_IP       NaN